@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/eot/IRANSansWeb(FaNum).eot');
  src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

/* =================FONTS-BINTO======================= */
@font-face {
  font-display: swap;
  font-family: Binto;
  font-weight: 400;
  src: url(fonts/Binto-Regular.eot?89830f57be6a7fa2aaaca848947fb023);
  src: url(fonts/Binto-Regular.eot?89830f57be6a7fa2aaaca848947fb023?#iefix) format("embedded-opentype"), url(fonts/Binto-Regular.woff?74655fa26f28d8567a7d4c102068889e) format("woff"), url(fonts/Binto-Regular.ttf?3ee00883a9701befc8be495c4e99397f) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Binto;
  font-weight: 500;
  src: url(fonts/Binto-Medium.eot?6d3273ff71c9496c4de83b9e74645896);
  src: url(fonts/Binto-Medium.eot?6d3273ff71c9496c4de83b9e74645896?#iefix) format("embedded-opentype"), url(fonts/Binto-Medium.woff?4be8304dcd7ae154a2d32e1d022538f8) format("woff"), url(fonts/Binto-Medium.ttf?45281cca684d63170f5a833037ba567e) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Binto;
  font-weight: 600;
  src: url(fonts/Binto-Bold.eot?6d6589a62ab2c3e62ce1484b4966931a);
  src: url(fonts/Binto-Bold.eot?6d6589a62ab2c3e62ce1484b4966931a?#iefix) format("embedded-opentype"), url(fonts/Binto-Bold.woff?6be8947dc2a9db02022a0225f82ed6c7) format("woff"), url(fonts/Binto-Bold.ttf?4b6fd692e920dc57d7eaec8e9eba8abb) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Binto;
  font-weight: 700;
  src: url(fonts/Binto-Heavy.eot?39a2808fb7c800c9a263fc12ddaad6df);
  src: url(fonts/Binto-Heavy.eot?39a2808fb7c800c9a263fc12ddaad6df?#iefix) format("embedded-opentype"), url(fonts/Binto-Heavy.woff?eb23f8ee4a4a18db8d7e21a40d9141d8) format("woff"), url(fonts/Binto-Heavy.ttf?bc9f9de9570a187811c70dee52bf90fe) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Binto;
  font-weight: 800;
  src: url(fonts/Binto-Fat.eot?654b3f00c8084ff458177bed10b2d9dd);
  src: url(fonts/Binto-Fat.eot?654b3f00c8084ff458177bed10b2d9dd?#iefix) format("embedded-opentype"), url(fonts/Binto-Fat.woff?4ad33b69928bc8f5ec077ecc1b2167d9) format("woff"), url(fonts/Binto-Fat.ttf?0f7b20c1916c4426b6a83c1d02ff867b) format("truetype")
}

.container-x {
  @apply md:px-6 px-3 w-full;
  max-width: 1676px !important;
}

.rtl {
  direction: rtl;
  font-family: Binto;
}

.ltr {
  direction: ltr
}

.online-help {
    float: left;

    background-image: linear-gradient(to right,#d62d57 0%,#9d2c48 50%,#d62d57 51%);
    box-shadow: 0 4px 10px rgba(241,28,81,.2);
    color: #fff;
    font-weight: bold;
    line-height: 34px;
    border-radius: 12px;
    background-size: 200% 100%;
    transition: .2s ease-in-out;

    border: none;
}

.swiper-pagination-bullet {
    width: 40px !important;
    height: 10px !important;
    display: inline-block;
    border-radius: 5px !important;
    background: hsla(348, 48%, 40%, 0) !important;
    border: 2px solid #963549 !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #963549 !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 26px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #963549;
    background: rgba(245, 245, 245, 0.521);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
